body {
    background-image: linear-gradient(90deg, #5851DB, #833AB4, #C13584, #E1306C, #fd1d1d);
    background-size: cover;
    background-repeat: inherit;
    height: 100%;
    color: white;
}